nav,
ul.sider {
  margin-left: 1%;
  padding: 1%;
  list-style: none;
  line-height: 2.5;
}

ul.sider li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

main {
  margin: 5%;
}

img {
  max-width: 75%;
  height: auto;
  background-color: #e2e2e2;
  padding: 10%;
}

@media (max-width: 767px) {
  img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}

h1,
h2 {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 3.25%;
}

@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 1rem;
  }
}

/* category.html */

.letterGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
}

@media (max-width: 767px) {
  .letterGroup {
    grid-template-columns: 1fr;
  }
}

.category-item {
  border: 1px solid #9d9d9d;
  background-color: #c0c0c0;
  padding: 30px;
  text-align: center;
  margin-right: 10%;
}

@media (max-width: 767px) {
  .category-item {
    padding: 20px;
  }
}

.category-item:hover {
  cursor: pointer;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

.category-item a,
li {
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
}

@media (max-width: 767px) {
  .category-item a,
  li {
    font-size: 0.85rem;
  }
}

/* productlist.html */

.productlist-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  line-height: 0.5;
}

@media (max-width: 767px) {
  .productlist-grid {
    grid-template-columns: repeat(1, 1fr);
    line-height: 0;
  }
}

.smallProduct {
  position: relative;
}

.smallProduct img:hover {
  background-color: #c0c0c0;
  cursor: pointer;
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

.smallProduct.soldout:hover {
  pointer-events: none;
}

.display-name {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: black;
  margin-top: 10%;
}

@media (max-width: 767px) {
  .display-name {
    font-size: 0.85rem;
  }
}

.brand-name {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  color: #5c5c5c;
  margin-top: 10%;
}

@media (max-width: 767px) {
  .brand-name {
    font-size: 0.75rem;
  }
}

p,
a {
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  text-decoration: none;
}

@media (max-width: 767px) {
  p,
  a {
    font-size: 0.75rem;
  }
}

.produktliste-container {
  display: flex;
  justify-content: center;
}

.priser {
  font-family: "Work Sans", sans-serif;
  color: black;
}

.discount {
  color: red;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  margin-left: 10px;
}

.soldout {
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  color: black;
  opacity: 0.75;
}

@media (max-width: 767px) {
  .soldout {
    font-size: 0.75rem;
  }
}

.soldout::after {
  position: absolute;
  bottom: 60%;
  left: 33%;
  content: "UDSOLGT";
  padding: 1em;
  background-color: #9d9d9d;
  border: 0.5px solid black;
}

@media (max-width: 767px) {
  .soldout::after {
    bottom: 60%;
    left: 40%;
  }
}

/* product.html */

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  margin: 0;
}

@media (max-width: 767px) {
  .product-grid {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 5%;
  }
}

.display-name {
  margin-bottom: -4%;
}

@media (max-width: 767px) {
  .brand-name {
    margin-bottom: -0.5%;
  }
}

label,
select {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  gap: 15px;
}

@media (max-width: 767px) {
  label,
  select {
    font-size: 0.8rem;
  }
}

.priser,
.discount {
  display: inline-block;
  margin: 5px;
  line-height: 4;
}

@media (max-width: 767px) {
  .priser,
  .discount {
    margin: 2px;
  }
}

.add-to-basket-button {
  background-color: #e2e2e2;
  border: solid black 0.5px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5%;
}

@media (max-width: 767px) {
  .add-to-basket-button {
    font-size: 0.75rem;
  }
}

.add-to-basket-button:hover {
  background-color: #c0c0c0;
}
