.smallProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
}

img {
  background-color: #e2e2e2;
  padding: 10%;
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img:hover {
  background-color: #c0c0c0;
  cursor: pointer;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  margin: -5px;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  color: #5c5c5c;
}

p,a  {
  gap: 10px;
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 100;
}

.produkt-overskrift {
font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  color: #5c5c5c;
}

.produkt-priser {
  display: flex;
  gap: 10px;
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 100;
  background-color: #e2e2e2;
  padding-left: 10px;
  padding-right: 10px;
}

.discount-badge {
position: absolute;
  color: red;
  padding: 4px 4px;
  outline: 1px solid #9d9d9d;
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
}

.sold-out-badge {
position: absolute;
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 100;
  color: black;
  background-color: #e2e2e2;
  padding: 4px 8px;
  border: 0.75px solid #9d9d9d;
  opacity: 0.75;
}

/*
@media (max-width: 767px) {
  .produktliste-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .billede-item {
    padding: 5%;
    margin: 5%;
  }

  .produkt-item h2,
  .produkt-item h3,
  .produktliste-priser,
  .produktliste-pris,
  .sold-out-badge,
  .discount-badge-liste {
    font-size: 0.75rem;
  }
}
/*